@import "tailwindcss";

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    border-bottom: 1px solid orange;

    >div {
        display: flex;
        gap: 20px;
    }

    >span {
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        height: 44px;

        &:hover {
            border: 1px solid orangered;
        }

        >svg {
            color: orangered;
        }

        >input {
            background-color: #f3f3f3;
            outline: none;


        }
    }
}

footer {
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    >span {
        display: flex;
        gap: 20px;

        >a {
            &:hover {
                color: orange;
            }
        }
    }
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 10px;
    border-bottom: 1px solid gainsboro;
    padding: 20px;

    >figure {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        >img {
            transition: .5s;
            width: 80px;
            height: 80px;
            border-radius: 50%;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.parte1 {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    padding-bottom: 40px;

    >div {
        width: 90%;
        border-radius: 30px;
        background-color: #efefef;
        margin-top: 20px;
        padding-bottom: 40px;

        >div {
            padding-top: 30px;


            >div {
                border-radius: 30px;
                width: 300px;
                height: 550px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                >img {
                    width: 200px;
                    transition: .5s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }

                .butten {
                    width: 150px;
                    height: 40px;
                    text-align: center;
                    border: 2px solid orange;
                    border-radius: 10px;

                    &:hover {
                        background-color: orange;
                        color: white;
                    }
                }
            }
        }
    }

}

.parte2 {
    width: 100%;
    background-color: #efefef;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;

    >h2 {
        font-size: 55px;
        color: green;
    }

    >span {
        >h1 {
            font-size: 60px;
        }

        >svg {
            width: 40px;
            height: 50px;
        }
    }


    >div {
        background-color: white;
        width: 80%;
        border-radius: 20px;
        margin-top: 30px;
        border: 1px solid orangered;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        >div {
            padding: 10px;
            border-radius: 20px;
            border: 1px solid orange;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            >img {
                width: 100px;

                &:hover {
                    cursor: pointer;
                }
            }

            .buttonv {
                text-align: center;
                border-radius: 10px;
                background-color: green;
                color: white;
                margin-top: 20px;

                &:hover {
                    background-color: orange;
                    color: white;
                    cursor: pointer;
                }

            }

            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;

                .button {
                    text-align: center;
                    border: 2px solid orange;
                    border-radius: 10px;
                    font-size: 20px;

                    &:hover {
                        background-color: orange;
                        color: white;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }


            }
        }
    }
}

.parte3 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;

    >div {
        width: 50%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;

        >img {
            width: 200px;
            margin-top: 70px;

        }

        button {
            width: 150px;
            height: 40px;
            text-align: center;
            border-radius: 10px;
            background-color: green;
            color: white;
            margin-top: 20px;

            &:hover {
                background-color: orange;
                color: white;
                cursor: pointer;
            }
        }
    }

}

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}